<!DOCTYPE html>
<html>
    <head>
		<title>Profile Page</title>
		<link rel="stylesheet" type="text/css" href="http://localhost/Project3/public/css/Site_Style_Sheet.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript">
                    function loadProfile()
                    {
                        //var name = location.search.split('/profile/')[1];
                        //alert (name);
                        $.ajax({
						type: "POST",
						url: "/profileCheck",
						data: name,
						cache: false,
                                                dataType:'JSON'//,
//                                                statusCode: 
//                                                {
//                                                    200: function(data)
//                                                    {
//                                                        alert(data);
//                                                        var temp = "<p>TEST PAGE INFORMATION: " + data + "<p>";
//                                                        $("#profile").html(temp);
//                                                        //$.ajax({type:"POST", url: "/profile", data: name, cache: false, dataType:'JSON'})
//                                                        //location.href = "/profile"+'?name='+name
//                                                    }
//                                                }
                                                });
                    }
                </script>
    </head>
    <body onload="loadProfile()">
        <div id="mainDiv">
            <div id="loginForm">
            	<h1> Welcome to the Profile Page</h1> <br />
       			<p> Body Text Goes Here</p>
            </div>
        </div>
    </body>
</html>